<mat-toolbar class="header" xmlns="http://www.w3.org/1999/html">
  <div class="header-meniu">
    <button class="header-meniu-icon" mat-icon-button>
      <mat-icon class="header-meniu-icon-content">more_vert</mat-icon>
    </button>
    <p class="header-meniu-content">Dashboard</p>
  </div>

  <div class="header-spacer"></div>

  <div class="header-search">
    <form>
      <mat-form-field class="header-search-bar">
        <mat-label class="header-search-bar-title">Search</mat-label>
        <input class="header-search-bar-content" matInput placeholder="Settings">
      </mat-form-field>
    </form>

    <button class="header-search-icon" mat-icon-button>
      <mat-icon class="header-search-icon-content">house</mat-icon>
    </button>
  </div>

  <div class="header-user">
    <button class="header-user-info" mat-icon-button>
      <mat-icon>house</mat-icon>
    </button>

    <button class="header-user-info" mat-icon-button>
      <mat-icon>house</mat-icon>
    </button>

    <button class="header-user-info" mat-icon-button>
      <mat-icon>house</mat-icon>
    </button>
  </div>
</mat-toolbar>
